a {
    color: crimson;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: aliceblue;
    max-width: 720px;
    margin: auto;
}

h1 {
    color: cornflowerblue;
}

ul.menu {
    list-style: none;
    font-size: 16pt;
}

ul.page-menu {
    list-style: none;
    font-size: 16pt;
}

ul.page-menu li a {
    color: black;
}

.author {
    font-style: italic;
    color: darkred;
}

.image-author {
    font-style: italic;
    color: cornflowerblue;
}

.info {
    font-weight: bold;
    color: dimgrey;
}

.koste {
    font-weight: bold;
    color: cornflowerblue;
}

.warning {
    font-weight: bold;
    border: 5px solid red;
    background-color: yellow;
}
